// $background: rgba(44, 62, 80, 1);
$background: rgba(48, 62, 83, 1);
$text: #f3f3f3;
$link: hsl(200, 100%, 96%);
$text-dark: #222;
$text-grey: #bbb;
$primary: hsl(200, 100%, 50%);
// $primary: lighten(#0058db, 20%);
$accent: #f39c12;
$success: rgba(46, 204, 113, 1);
$danger: rgba(198, 59, 46, 1);
$grey: #aaa;

$raise-color: rgba(255, 255, 255, 0.08);

$colors: "primary" $primary, "grey" $grey, "accent" $accent, "success" $success,
  "danger" $danger;

$gradient-start: -10;
$gradient-end: 70;
@mixin primary-gradient {
  background: $primary;
  background-image: -webkit-linear-gradient(
    110deg,
    adjust-hue($primary, $gradient-start),
    adjust-hue($primary, $gradient-end)
  );
  background-image: -moz-linear-gradient(
    110deg,
    adjust-hue($primary, $gradient-start),
    adjust-hue($primary, $gradient-end)
  );
  background-image: -ms-linear-gradient(
    110deg,
    adjust-hue($primary, $gradient-start),
    adjust-hue($primary, $gradient-end)
  );
  background-image: -o-linear-gradient(
    110deg,
    adjust-hue($primary, $gradient-start),
    adjust-hue($primary, $gradient-end)
  );
  background-image: linear-gradient(
    110deg,
    adjust-hue($primary, $gradient-start),
    adjust-hue($primary, $gradient-end)
  );
}
