@import "./colors.scss";

$border-radius: 0.25em;

//
// input styling
//
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text;
  transition: background-color 20000s ease-in-out 0s;
}

input {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
  font-weight: 300;
  color: $text;
  caret-color: $text;
  padding: 0.75rem;
  padding-top: 1.8rem;
  transition: all 0.25s ease-out;
  &:focus {
    border: 1px solid $text;
    outline: 0;
  }
  &.icon-left {
    padding-left: 3.5rem;
  }
  &.icon-right {
    padding-right: 3.5rem;
  }
}
.input-container {
  position: relative;
  font-size: 1.5rem;
  & label {
    color: rgba(255, 255, 255, 0.67);
    position: absolute;
    font-size: 0.5em;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
  }
  & > .fa {
    position: absolute;
    top: 0.8rem;
    &.left {
      left: 1rem;
    }
    &.right {
      right: 1rem;
    }
  }
  & span.info-text {
    position: absolute;
  }
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;
  // font-weight: 300;
  margin-bottom: 0.33em;
}

//
// button styling
//

button {
  display: inline-block;
  font-weight: 600;
  padding: 1rem 2rem 1rem 2rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: $border-radius;
  color: $text;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  // margin-right: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  // &:last-child {
  // margin-right: 0;
  // }
  &:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  &:focus {
    outline: 3px auto rgba($primary, 0.1);
  }
  &.small {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.7em;
  }
  &.fullwidth {
    width: 100%;
  }
  &.text {
    border: 2px solid transparent;
    background: transparent;
    box-shadow: none;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  &.dark {
    color: $text-dark;
    &:hover {
      box-shadow: 0 0 0 2px $text-dark;
    }
  }
  &.hero {
    @include primary-gradient;
    border: 2px solid transparent;
    background-size: 200% auto;
    background-position: 5%;
    &:hover {
      background-position: 95%;
    }
    &:disabled {
      cursor: not-allowed;
      // border: 2px solid $grey;
      // background-image: none;
      // background: darken($grey, 20%);
      filter: grayscale(100%);
    }
  }
  &.success {
    border: 2px solid transparent;
    background: $success;
    &:hover {
      background: lighten($success, 10%);
    }
  }
  &.standalone {
    margin-top: 1rem;
  }
  &.margin-bottom {
    margin-bottom: 1rem;
  }
  &.margin-right {
    margin-right: 1rem;
  }
  &.outlined {
    box-shadow: none;
  }
}
//
// info flash
//
.flash-container {
  width: 100%;
  padding: 1rem;
}
//
// color gen!
//
@each $i in $colors {
  button.#{nth($i, 1)} {
    background: nth($i, 2);
    border: 2px solid nth($i, 2);
    &:hover {
      border: 2px solid lighten(nth($i, 2), 15%);
      background: lighten(nth($i, 2), 15%);
    }
    &:disabled {
      cursor: not-allowed;
      border: 2px solid $grey;
      background: darken($grey, 20%);
      color: white;
    }
    &.outlined {
      background: rgba(255, 255, 255, 0);
      border: 2px solid nth($i, 2);
      color: nth($i, 2);
      box-shadow: none;
      &:hover {
        border: 2px solid lighten(nth($i, 2), 15%);
        color: lighten(nth($i, 2), 15%);
      }
      &:disabled {
        cursor: not-allowed;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.3);
        color: white;
      }
    }
  }
}
//
// custom select styling
//
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: rgba(0, 0, 0, 0.4);
  background-image: none;
}
.select {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 2.75em;
  line-height: 2.75;
  margin-bottom: 1.5rem;
  background: transparent;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  margin: 0;
  padding: 0.75rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: $accent;
}
.select select:focus {
  background: rgba(0, 0, 0, 0.2);
}
// select:focus {
//   outline-offset: -1px;
//   outline: 1px solid $primary;
//   border: none;
// border: 1px solid primary;
// }
.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

ul {
  list-style-type: none;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
